.simple-gallery-slider-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	background: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.simple-gallery-slider-container.open {
	display: flex;
}

/* Tiny Slider */
.simple-gallery-slider-container .tns-nav,
.simple-gallery-slider-container .tns-outer [data-action] {
	display: none;
}

.simple-gallery-slider-container .tns-controls button {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	z-index: 100;
}

.simple-gallery-slider-container .tns-controls button[data-controls='next'] {
	right: 0;
}

.simple-gallery-slider-container .tns-controls button[data-controls='prev'] {
	left: 0;
}

.simple-gallery-slider-container .tns-item img {
	max-width: 90vw;
	max-height: 90vh;
	width: auto;
	height: auto;
}

.simple-gallery-slider-container .simple-gallery-slider-items {
	display: flex;
	align-items: center;
}
